nav{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover{
    text-decoration: underline;
}

header{
    background: #212121;
    background-image: url(img/header\ background.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

header.logo{
    font-size: 30px;
    font-weight: bold;
}

header.nav li{
list
}
header h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

header form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

